<!-- <footer class="container">
    <br><br>
    <div class="row justify-content-center">
        <p>&copy; AndroidCamper Company 2020-2021</p>
    </div>
</footer> -->


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 mt-auto">
  <br><br><br><br>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://fr-fr.facebook.com/ESENDroidClub/"> AndroidClub.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->