<app-navbar></app-navbar>
<div class="container my-5">
    <form [formGroup]="myForm" (ngSubmit)="login()">
      <div class="form-row">
        <div class="form-group col">
            <label for="exampleInputEmail1">{{'PEOPLE-LIST.email' | translate}}</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div *ngIf="email.touched && email.invalid">
              <small class="form-text text-danger" *ngIf="email.errors.required">Email is required <br></small>
              <small class="form-text text-danger" *ngIf="email.errors.pattern">Email pattern is invalid <br></small>
            </div> 
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="exampleInputPassword1">{{'PEOPLE-LIST.password' | translate}}</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <div *ngIf="password.touched && password.invalid">
            <small class="form-text text-danger" *ngIf="password.errors.required">password is required <br></small>
            <small class="form-text text-danger" *ngIf="password.errors.minlength">password must contain {{ password.errors.minlength.requiredLength }} characters<br></small>
          </div> 
        </div>
      </div>  

      <div class="form-row">
        <div class="form-group col">
          <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">{{'BTN.loginBtn' | translate}}</button>
        </div>
      </div>

    </form>
</div>
<app-footer></app-footer>
