<div class="modal-header">
    <h4 class="modal-title header">{{'TITLE.memberDetail' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong class="title">{{'PEOPLE-LIST.Fname' | translate}} : </strong> {{user.firstname}} </p>
    <p><strong class="title">{{'PEOPLE-LIST.Lname' | translate}} :</strong> {{user.lastname}}</p>
    <p><strong class="title">{{'PEOPLE-LIST.email' | translate}} :</strong> {{user.email}}</p>
    <p><strong class="title">{{'PEOPLE-LIST.phone' | translate}} :</strong> {{user.phone}}</p>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="activeModal.close('Close click')">
      {{'BTN.closeBtn' | translate}}</button>
</div>